---
export interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class:list={['grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-5 max-w-[1100px] mx-auto', className]}>
  <slot />
</div>
