---
import { Image } from 'astro:assets'

export interface Props {
  src: string
  alt: string
}

const { src, alt } = Astro.props
---

<div class="my-10 md:my-14 px-6 md:px-12">
  <div class="max-w-[1000px] mx-auto">
    <Image
      src={src}
      alt={alt}
      width={1200}
      height={600}
      class="w-full rounded-xl shadow-lg"
    />
  </div>
</div>
